{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}

<h1 class="display-1 text-center">{{ user.username }}</h1>

<h3>{{ user.first_name }}</h3>
<h3>{{ user.last_name }}</h3>
<h3>{{ user.email }}</h3>

<ul>
{% for entry in feedback %}
    <li>
        <a href="/feedback/{{ entry.id }}/update">{{ entry.title }}</a>
    </li>
{% endfor %}
</ul>

<a href="/users/{{ user.username }}" class="btn btn-success btn-lg">Add Feedback</a>
<a href="/feedback/{{ feedback.id }}/delete" class="btn btn-danger btn-lg">Delete User</a>

{% endblock %}